################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MIRA2020/v16
/bin
/obj
/.git
/.vs
/MIRA2020.vcxproj.user
/Anmerkung 2020-05-28 224456.png
